<footer>
 <div class="container">
   <div class="socialmedia-icon">
         <a href="mailto:dnl.thoms@gmail.com"><img src="{{ site.baseurl }}/resources/iconmonstr-email-4.svg" style="width:100%"></a>
      </div>
       <div class="socialmedia-icon">
         <a href="https://www.instagram.com/dnl.thoms/"><img src="{{ site.baseurl }}/resources/iconmonstr-instagram-11.svg" style="width:100%"></a>
      </div>
       <div class="socialmedia-icon">
         <a href="https://www.facebook.com/danielthomsart/"><img src="{{ site.baseurl }}/resources/iconmonstr-facebook-5.svg" style="width:100%"></a>
      </div>
      
      <p style="float:right; font-size: 0.8rem">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</footer>
